body {
    background-color: rgb(41, 212, 195);
}

.header {
    font-family: 'Galindo', cursive;
    text-align: center;
}

h1 {
    font-family: 'Galindo', cursive;
}
/* index.js lists all 151 pokemon */
.text-center{
    font-size: medium;
    font-family: 'Galindo', cursive;
}
.well {
    font-family: 'Galindo', cursive;
}
.pokename {
    font-size: xx-large;
}
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
}
.linkButton {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

/* favorites listed in pokemon/index.js */
.favorites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3px;
}
.favorite {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3px;
    height: 150px;
    width: 150px;
    background-image: url("/img/Pokeball_pic.png");
    background-size: cover;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-size: large;
    font-family: 'Galindo', cursive;
    color: white;
}

.fave_pokemon {
    color: white;
    text-transform: capitalize;
}
/* /pokemon/show.ejs pokemon info page */
.show_body{
    background-image: url("/img/who_is_that_pokemon.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Galindo', cursive;
}
.show_div {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-left: 60px;
}
.poke_name {
    text-align: left;
    font-size: 80px;
    color: rgb(228, 219, 1);
    text-shadow: 4px 4px 6px blue;
    text-transform: capitalize;
}
.picture {
    height: 80%;
}

.info {
    font-size: medium;
    display: flex;
    width: 100%;
    height: 40%;
    background-color: rgba(203, 51, 51, 0.95);
    color: white;
    overflow-y: auto;
    border-radius: 15px 15px 0px 0px;
}
.moves{
    font-size: medium;
    max-height: 500px;
    width: 100%;
    height: 50%;
    background-color: rgba(203, 51, 51, 0.95);
    color: white;
    overflow-y: auto;
    border-radius:  0px 0px 15px 15px;
}

.moves_list {
display: inline-flex;
column-count: 5;
margin: 0;
padding: 0;
}

.all_info_div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 500px;
}


