.header {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}

h1 {
    font-family: 'Press Start 2P', cursive;
}
/* views/index.ejs */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
}
.linkButton {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

/* favorites listed in pokemon/index.js */
.favorites {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: solid red 2px;
    padding: 3px;
}
.favorite {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3px;
    height: 150px;
    width: 150px;
    background-image: url("/img/Pokeball_pic.png");
    background-size: cover;
    text-align: center;
    align-content: center;
    justify-content: center;
    font-size: large;
}
/* /pokemon/show.ejs pokemon info page */
.show_body{
    background-image: url(https://images3.alphacoders.com/677/thumb-1920-677583.png);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Press Start 2P', cursive;
}
.show_div {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-left: 60px;

}
.picture {
    height: 80%;
}

.info {
    font-size: medium;
    display: flex;
    width: 100%;
    height: 30%;
    background-color: rgba(203, 51, 51, 0.95);
    color: white;
    overflow-y: auto;
    border-radius: 15px 15px 0px 0px;
}
.moves{
    font-size: medium;
    max-height: 500px;
    width: 100%;
    height: 50%;
    background-color: rgba(203, 51, 51, 0.95);
    color: white;
    overflow-y: auto;
    border-radius:  0px 0px 15px 15px;
}

.moves_list {
display: inline-flex;
column-count: 5;
margin: 0;
padding: 0;
}

.all_info_div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 500px;
}


